<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Digital Clock</title>
</head>
<body class="container pt-5 bg-dark">

    <div id="app" class="pt-5" v-cloak>

        <div id="clock" class="text-center text-warning">{{ clockDisplay }}</div>


        <button v-if="triggered" @click='deactivateAlarm' class="btn btn-warning btn-lg btn-block mt-5">SILENCE ALARM</button>


        <div class="wrapper" v-else>

            <form v-if="!triggered" class="time-picker text-light">
                <h3>Set an alarm:</h3>
                <div class="form-row">
                    <div class="col">
                        <label for="newAlarmHour">Hour:</label>
                        <input type="number" v-model="newAlarm.hour" id="newAlarmHour" class="form-control mr-2" min="0" max="23"></input>
                    </div>
                    <div class="col">
                        <label for="newAlarmHour">Minute:</label>
                        <input type="number" v-model="newAlarm.minute" id="newAlarmMin" class="form-control mr-2" min="0" max="59"></input>
                    </div>
                    <div class="col">
                        <label for="newAlarmHour">Second:</label>
                        <input type="number" v-model="newAlarm.second" id="newAlarmSec" class="form-control" min="0" max="59"></input>
                    </div>
                </div>
                <div class="form-group text-center mt-2">
                    <button type="button" class="btn btn-primary" @click="addAlarm">Add Alarm</button>
                </div>
                <div v-if="newAlarm.error" class="alert alert-warning">{{ newAlarm.error}} </div>
            </form>


            <h3 class="text-light">Alarms:</h3>
            <ul v-if="alarms.length" class="list-group">
                <li v-for="(alarm, index) in alarms" class="list-group-item">{{ alarm }}
                    <span class="float-right remove" @click="removeAlarm(index)">&times;</span>
                </li>
            </ul>
            <div v-else class="alert alert-info">No alarms set.</div>

        </div class="wrapper">


        <flash-overlay></flash-overlay>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
