[v-cloak] {
    display: none;
}

.wrapper {
    max-width: 400px;
    margin: auto;
}

#clock {
    font-size: 5rem;
    font-family: monospace;
    color: yellow;
}

.flash-overlay {

}

.overlay {
    width: 100%;
    height: 10%;
    position: absolute;
}
.top {
    top: 0;
    left: 0;
}
.bottom {
    bottom: 0;
    left: 0;
}
.time-picker {
    margin: 2rem auto;
}
.time-picker label {
    font-size: 0.8rem;
}
.remove {
    transition: 0.3s;
    cursor: default;
}
.remove:hover {
    font-weight:bold;
    transform: scale(1.5);
}
